<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        <title>prensentation team</title>
    </head>
    <body>
        <h1>Welcome page la page welcome</h1>
        <p>salut<%=params[:first_name]%>!
        </p>
    </body>
</html>


