<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        <title>Contact team</title>
    </head>
    <body>
        <h1>Les contact de La team de deux!!</h1>
        <ul>
            <li>Sacha</li>
                <li>Sacha telephone maison</li>
            <li>Paul</li>
                <li>Paul telephone maison</li>
            <li>GPTO</li>
                <li>Nil</li>
        </ul>
    </body>
</html>
